body {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 70%;
    margin-left: 10mm;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

small {
    font-size: 50%;
}

th {
    padding-left:  5pt;
    padding-right: 5pt;
}

/* good and bad cell colors */
.g10 {
    background-color: #E6FFDE;
}
.g20 {
    background-color: #C2FFAD;
}
.g40 {
    background-color: #91FF6B;
}
.b10 {
    background-color: #FFC9C4;
}
.b20 {
    background-color: #FF968C;
}
.b40 {
    background-color: #FF5445;
}
